@model CMS.DataAccess.Page
<div>
    @foreach (var paragraph in Model.Paragraphs)
    {
        if (paragraph.Title != null && paragraph.Title.Equals("<<products>>"))
        {
            <div class="container bootstrap snipets">
                <h1 class="text-center text-muted">Our Products</h1>
                <div class="row flow-offset-1">
                    @foreach (var product in ViewBag.Products)
                    {
                        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="product tumbnail thumbnail-3">
                                <a href="@product.DetailUrl"><img src="@("/images/products/" + product.Photo)" alt="@product.Name"></a>
                                <div class="caption">
                                    <h6><a href="@product.DetailUrl">@product.Name</a></h6>
                                    <div>@Html.Raw(product.Description)</div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        }
        else
        {
            <div class="container bootstrap snipets">
                <h1>@paragraph.Title</h1>
                @Html.Raw(paragraph.Details)
            </div>
        }
    }
</div>
